*.swo
*.swp
*.swn
*.swm
*.csv#


*.pyc
__pycache__

.env.prod*
old
logs

.bash_history
.cache
.parallel
.python_history
.viminfo

services/downloader_cc/gensim-data/
services/downloader_cc/pythainlp-data/
