<html>
    <head>
        <title>{{page_name}}</title>
        <link rel="stylesheet" href="static/uPlot.min.css">
        <script src="static/uPlot.iife.min.js"></script>
        <link rel='stylesheet' href='/static/style.css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% if refresh %}
        <meta http-equiv="refresh" content="{{ refresh }}">
        {% endif %}
        <link rel="stylesheet" href="static/gh-fork-ribbon.css">
    </head>
    <body>
        <a class="github-fork-ribbon right-top" href="https://github.com/mikeizbicki/novichenko" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
        <header>
        <div class=box>
        {% block header %}
        {% endblock %}
        </div>
        </header>
        <main>
        <div class=box>
        {% block content %}
        {% endblock %}
        </div>
        </main>
        <!--
        {{comments|safe}}
        -->
		<footer>
        <div class=debug>
            <input id="debug_collapse" class="toggle" type="checkbox" checked>
            <label for="debug_collapse" class="lbl-toggle dark">debug information</label>
            <div class=collapsible-content>
                <ul>
                <li>page render time: __EXECUTION_TIME__</li>
                <li>queries
                    {%for query in queries%}
                    <input id="query_{{query['name']}}" class="toggle" type="checkbox">
                    <label for="query_{{query['name']}}" class="lbl-toggle">{{query['name']}} ( {{'%.3f'|format(query['runtime'])}} seconds )</label>
                    <div class=collapsible-content>
                        <ul>
                            <li>
                                <strong>sql</strong>
                                <div class=code>{{query["sql"]}}</div>
                            </li>
                            <li>
                                <strong>explain</strong>
                                <div class=code>{{query["explain"]}}</div>
                            </li>
                            <li>
                                <strong>binds</strong>
                                <table>
                                    <!--tr><td>bind parameter</td><td>value</td></tr>-->
                                    {% for k,v in query['binds'].items() %}
                                    <tr><td><span class=code>:{{k}}</span></td><td><span class=code>=</span></td><td><span class=code>{{v}}</span></td></tr>
                                    {% endfor %}
                                </table>
                            </li>
                    </div>
                    {%endfor%}
                </li>
                </ul>
            </div>
        </div>
		</footer>
    </body>
</html>
