{% extends "base.html" %}



{% block header %}
<header class=grid>
<div class="header logo">
<img src='/static/en-chajda.png' width=120px height=30px>
</div>
<div class="header search box">
<form id=form_search onsubmit='return false;'>
    <input type=text id=query name=query value='' />
    <button type="submit"><i class="fa fa-search"></i></button>
    <select name="lang" id="lang">
      <option value="en" selected>en</option>
      <option value="es" >es</option>
    </select>
</form>
</div>
</header>
{% endblock %}




{% block content %}
<aside id=aside_xy style='grid-row: 1'>
    <h3>Count Options</h3>
    <form id=form_count onsubmit='return false;'>
    <ul>
        <li>axis
            <select name="mentions_axis" id="mentions_axis">
              <option value="host"            >host</option>
              <option value="hostpath"selected>hostpath</option>
            </select>
        </li>
        <li>granularity
            <select name="granularity" id="granularity">
              <option value="year"  selected>year</option>
              <option value="month"         >month</option>
              <option value="day"           >day</option>
            </select>
        </li>
        <li>
            <input type="checkbox" name="normalize" checked><label for="normalize">normalize</label>
            <br/>
            <input name="normalize_query" value="">
        </li>
    </ul>
    </form>
</aside>
<aside id=aside_x2y2 style='grid-row:2'>
    <h3>Projection Options</h3>
    <form id=form_projection onsubmit='return false;'>
    <ul>
        <li>axis
            <select name=projection_axis id=projection_axis>
            </select>
            <br>
            pos words <input id=pos_words name=pos_words readonly value="{{pos_words}}">
            <br>
            neg words <input id=neg_words name=neg_words readonly value="{{neg_words}}">
            <br>
            <a href='/wordcloud?pos_words={{pos_words}}&neg_words={{neg_words}}&dim=25'>visualize projection</a>
            <br>
            <br>
            <script>
                var axis_dictionary = {
                    'anger': ['angry agitated', 'calm serene'],
                    'erotic': ['erotic sexy sensual', 'unerotic polite propper'],
                    'gender': ['female mother queen she', 'male father king he'],
                    'happiness': ['sad misery dissatisfaction bore', 'happy joy pleasure delight'],
                    'intelligence': ['intelligent', 'stupid'],
                    'life': ['alive active awake living', 'dead inactive asleep dying'],
                    'freedom': ['oppression', 'freedom'],
                    'scary': ['relaxing unafraid comfort','scary afraid fear'], 
                    'sentiment': ['positive good better best', 'negative bad worse worst'], 
                    'success': ['successful', 'failed'],
                    'threat': ['safety peace friend ally', 'danger war menace enemy'],
                    'truth': ['truth', 'lie'],
                    'war': ['peace', 'war'],
                    'wealth': ['wealth affluence rich asset', 'debt poverty poor liability'],
                };
                projection_axis = getParameterByName('projection_axis');
                select = document.getElementById('projection_axis')
                for (key in axis_dictionary) {
                    option = document.createElement("option");
                    option.textContent = key;
                    option.value = key;
                    select.add(option);
                }
                function set_projection_axis(axis) {
                    document.getElementById('projection_axis').value = axis;
                    document.getElementById('pos_words').value = axis_dictionary[axis][0];
                    document.getElementById('neg_words').value = axis_dictionary[axis][1];
                }
                set_projection_axis('sentiment');
                function projection_axis_change(e) {
                    set_projection_axis(e.currentTarget.value);
                }
                document.getElementById('projection_axis').addEventListener('change', projection_axis_change);
            </script>
        </li>
        <li>
            <input type="checkbox" id="rm_vh_data" name="rm_vh_data" value="True" checked><label for="rm_vh_data">rm_vh_data</label><br>
            <input type="checkbox" id="rm_vh_hardcoded" name="rm_vh_hardcoded" value="True" checked><label for="rm_vh_hardcoded">rm_vh_hardcoded</label><br>
        </li>
        <li>window size 
            <br>
            <input type="range"  id="window_size_range" min="1" max="24" value="1" oninput="set_window_size(this.value)" />
            <br>
            <input type="number" id="window_size_number" min="1" max="24" value="1" oninput="set_window_size(this.value)" />
            <script>
            function set_window_size(window_size_new) {
                console.log('set_window_size()');
                window_size = window_size_new;
                document.getElementById('window_size_range').value = window_size;
                document.getElementById('window_size_number').value = window_size;
                plotly_projection_redraw();
            }
            </script>
        </li>
    </ul>
    </form>
</aside>


<aside style="grid-row:3">
    <h3>Document Options</h3>
    <form id=form_docs onsubmit='return false;'>
        Order by
        <select name="orderby" id="orderby">
          <option value="none"      selected>none</option>
          <option value="time_desc"         >publication date (descending)</option>
          <option value="time_asc"          >publication date (ascending)</option>
          <option value="rank"              >relevance</option>
        </select>
    </form>
</aside>

<main style="grid-row: 1; grid-column: 2;">
<h2>Count</h2>
<div id=loading_count class=loading>loading...</div>
<div id=plotly_count class=plots></div>
</main>

<main style="grid-row: 2; grid-column: 2;">
<h2>Projection</h2>
<div id=loading_projection class=loading>loading...</div>
<div id=plotly_projection class=plots></div>
</main>

<main style='display:grid; grid-column:2; grid-row:3'>
<h2>Documents</h2>
<div id=loading_docs class=loading>loading...</div>
<div id=docs>
</main>

</div>

<script>
////////////////////////////////////////////////////////////////////////////////
// javascript globals
////////////////////////////////////////////////////////////////////////////////

var window_size = 1;
var date_min = '1960-01-01';
var date_max = '2021-09-01';
var colors_bold = ['#55f', '#f55', '#575', '#775', '#5ff', '#f5f'];
var colors_light = ['#ccf', '#fcc', '#c9c', '#cc9', '#cff', '#fcf'];
var max_queries = colors_bold.length;

var json_data = {
    'count': colors_bold.map(x => null),
    'projection': colors_bold.map(x => null),
    'docs': [],
};

////////////////////////////////////////////////////////////////////////////////
// load data
////////////////////////////////////////////////////////////////////////////////

var load_status = {};

function load_all_data() {
    load_count();
    load_projection();
    load_docs();
}

function load_projection() {
    document.getElementById('loading_projection').style.display = 'block';
    let queries = document.getElementById('query').value.split(';');
    json_data['projection'] = colors_bold.map(x => null);
    plotly_projection_redraw();

    let gets = Array(queries.length);
    form_dict = form_to_dict('form_projection');
    for (let i=0; i<queries.length; i++) {
        let query = queries[i];
        let query_dict = Object.assign({}, form_dict);
        query_dict['query'] = query;
        gets[i] = {'endpoint':'projection','params':query_dict};
    }

    with_jsons(gets, 'projection', (jsons) => {
        console.log("gets",gets);
        for (let i=0; i<queries.length; i++) {
            json_data['projection'][i] = add_randoms(jsons[i]);
            json_data['projection'][i]['query'] = query;
        }
        plotly_projection_redraw();
        document.getElementById('loading_projection').style.display = 'none';
    });
}


function load_count() {
    document.getElementById('loading_count').style.display = 'block';
    let queries = document.getElementById('query').value.split(';');
    json_data['count'] = colors_bold.map(x => null);
    plotly_count_redraw();

    let gets = Array(queries.length + 1);
    let form_dict = form_to_dict('form_count');
    for (let i=0; i<queries.length; i++) {
        let query = queries[i];
        let query_dict = Object.assign({}, form_dict);
        query_dict['query'] = query;
        query_dict['normalize_query'] = undefined;
        gets[i] = {'endpoint':'count','params':query_dict};
    }
    let norm_dict = Object.assign({}, form_dict);
    norm_dict['query'] = form_dict['normalize_query'];
    norm_dict['normalize_query'] = undefined;
    let norm_index = gets.length-1
    gets[norm_index] = {'endpoint':'count','params':norm_dict};
        
    with_jsons(gets, 'count', (jsons) => {
        for (let i=0; i<queries.length; i++) {
            let json_query = jsons[i];
            let json_norm = jsons[norm_index];
            json_data['count'][i] = {
                'xs' : [],
                'term_counts' : [],
                'term_counts_hi' : [],
                'term_counts_lo' : [],
            };
            for (let index_norm=0, index_query=0; index_norm<json_norm['xs'].length; index_norm++) {
                if (json_norm['xs'][index_norm] == json_query['xs'][index_query]) {
                    json_data['count'][i]['xs'].push(json_norm['xs'][index_norm]);
                    if (form_dict['normalize']) {
                        json_data['count'][i]['term_counts'].push(json_query['term_counts'][index_query] / json_norm['term_counts'][index_norm]);
                        json_data['count'][i]['term_counts_hi'].push(json_query['term_counts_hi'][index_query] / json_norm['term_counts_lo'][index_norm]);
                        json_data['count'][i]['term_counts_lo'].push(json_query['term_counts_lo'][index_query] / json_norm['term_counts_hi'][index_norm]);
                    }
                    else {
                        json_data['count'][i]['term_counts'].push(json_query['term_counts'][index_query]);
                        json_data['count'][i]['term_counts_hi'].push(json_query['term_counts_hi'][index_query]);
                        json_data['count'][i]['term_counts_lo'].push(json_query['term_counts_lo'][index_query]);
                    }
                    index_query += 1;
                }
            }
            json_data['count'][i]['query'] = query;
        }
        plotly_count_redraw();
        document.getElementById('loading_count').style.display = 'none';
    });
}

function load_docs() {
    document.getElementById('loading_docs').style.display = 'block';
    json_data['docs'] = [];
    draw_docs();

    dict = form_to_dict('form_docs');
    query = document.getElementById('query').value;
    dict['query'] = query;
    with_json('docs', dict, (json) => {
        json_data['docs'] = json['docs'];
        draw_docs();
        document.getElementById('loading_docs').style.display = 'none';
    });
}

////////////////////////////////////////////////////////////////////////////////
// render data
////////////////////////////////////////////////////////////////////////////////

var plotly_layout = {
    showlegend: false,
    margin:{
        l:40,
        r:0,
        t:0,
        b:20,
        pad:0,
    },
    xaxis: {
        type: 'date',
        range: [date_min, date_max],
        /*
        rangeselector: {
          buttons: [
            {
              count: 1,
              label: '1y',
              step: 'year',
              stepmode: 'backward'
            },
            {
              count: 10,
              label: '10y',
              step: 'year',
              stepmode: 'backward'
            },
            {
              count: 100,
              label: '100y',
              step: 'year',
              stepmode: 'backward'
            },
            {step: 'all'}
          ]},
        */
    },
    yaxis: {
      fixedrange: true,
      rangemode: 'tozero',
    },
};

function plotly_count_redraw(newPlot=false) {
    var traces = [];

    for (let i=0; i<json_data['count'].length; i++) {
        var trace_count = {
          hovermode: 'closest',
          hovertemplate: '',
          type: 'scattergl',
          line: {
            shape: 'hv',
            color: colors_bold[i],
            width: 1,
          },
          marker: {
            size: 1,
          },
        };
        var trace_count_lo = Object.assign({}, trace_count);
        trace_count_lo.line = {
            hovermode: false,
            hovertemplate: false,
            shape: 'hv',
            color: colors_light[i],
            width: 1,
          };
        var trace_count_hi = Object.assign({}, trace_count_lo);

        if (json_data['count'][i]) {
            trace_count.name = json_data['count'][i]['query'];
            trace_count.x = json_data['count'][i]['xs'];
            trace_count.y = json_data['count'][i]['term_counts'];
            trace_count_lo.name = json_data['count'][i]['query'];
            trace_count_lo.x = json_data['count'][i]['xs'];
            trace_count_lo.y = json_data['count'][i]['term_counts_lo'];
            trace_count_hi.name = json_data['count'][i]['query'];
            trace_count_hi.x = json_data['count'][i]['xs'];
            trace_count_hi.y = json_data['count'][i]['term_counts_hi'];
        }
        else {
            trace_count.x = [date_min, date_max];
            trace_count.y = [null, null];
            trace_count_lo.x = [date_min, date_max];
            trace_count_lo.y = [null, null];
            trace_count_hi.x = [date_min, date_max];
            trace_count_hi.y = [null, null];
        }

        traces.push(trace_count_lo);
        traces.push(trace_count_hi);
        traces.push(trace_count);
    }

    if (newPlot) {
        Plotly.newPlot('plotly_count', traces, plotly_layout, {displaylogo: false});
    }
    else {
        Plotly.react('plotly_count', traces, plotly_layout, {displaylogo: false});
    }

}

function plotly_projection_redraw(newPlot=false) {
    var traces = [];

    for (let i=0; i<json_data['count'].length; i++) {
        var trace_projection_dots = {
          type: 'scattergl',
          hoverinfo: 'skip',
          line: {
            shape: 'hv',
            color: '#55f',
            width: 1,
          },
          mode: 'markers',
        };
        var trace_projection_ave = {
          type: 'scattergl',
          hoverinfo: 'closest',
          line: {
            shape: 'spline',
            color: colors_bold[i],
            width: 1,
          },
          marker: {
            size: 1,
          },
        };

        if (json_data['projection'][i]) {
            trace_projection_dots.x = json_data['projection'][i]['xs'];
            trace_projection_dots.y = json_data['projection'][i]['projections'];
            trace_projection_dots.marker = {
                size: 2+2*Math.max(0,1-json_data['projection'][i]['dots']/10000)+2*Math.max(0,1-json_data['projection'][i]['dots']/100),
                color: colors_light[i],
                //opacity: 0.25,
            };
            trace_projection_ave.x = json_data['projection'][i]['xs'];
            trace_projection_ave.y = moving_average([],json_data['projection'][i]['projections'].slice(0,json_data['projection'][i]['counts'].length),window_size,json_data['projection'][i]['counts']);
        }
        else {
            trace_projection_dots.x = [date_min, date_max];
            trace_projection_dots.y = [null, null];
            trace_projection_ave.x = [date_min, date_max];
            trace_projection_ave.y = [null, null];
        }

        traces.push(trace_projection_dots);
        traces.push(trace_projection_ave);
    }

    if (newPlot) {
        Plotly.newPlot('plotly_projection', traces, plotly_layout, {displaylogo: false});
    }
    else {
        Plotly.react('plotly_projection', traces, plotly_layout, {displaylogo: false});
    }
};

function draw_docs() {
    docs = document.getElementById('docs');
    innerHTML = '';
    for (let i=0; i<json_data['docs'].length; i++) {
        doc = json_data['docs'][i];
        innerHTML += `
        <div class=result>
            <div class=result_host>
                <!--<img src=https://{result.host}}/favicon.ico height=12px width=12px />-->
                ${doc['date_published']} --
                <!-- {result.accessed_at}} -- -->
                <a href='/host/${doc['host']}'>${doc['host']}</a>
                ${doc['rank']}
                &nbsp;
                &nbsp;
                &nbsp;
                id=${doc['id']}
            </div>
            <div class=result_title><a href="/metahtml?url=${doc['url']}">${doc['title']}</a></div>
            <div class=result_description>${doc['description']}</div>
        </div>
        `;
    }
    docs.innerHTML = innerHTML;
}

////////////////////////////////////////////////////////////////////////////////
// utils
////////////////////////////////////////////////////////////////////////////////

function add_randoms(projection_data_raw, max_points=10000.0) {
    let randoms = [];
    let xs = [];
    let total_elements = projection_data_raw['counts'].reduce((a, b) => a + b, 0);
    let total_randoms = Math.min(max_points,total_elements);
    let xs_index = 0;
    let randoms_at_index = 0;
    let stddev = calc_stddev(projection_data_raw['projections']);

    for (var i=0; i<total_randoms && xs_index <projection_data_raw['xs'].length; i++) {
        randoms_at_index += 1
        if (randoms_at_index > projection_data_raw['counts'][xs_index]/total_elements*total_randoms) {
            xs_index += 1;
            randoms_at_index = 0;
            i -= 1;
        }
        else {
            if (projection_data_raw['projections'][xs_index] !== null) {
                xs.push(projection_data_raw['xs'][xs_index])
                // FIXME:
                // this uses the Box-Muller transform to convert two uniform random variables into two normal random variables;
                // the current implementation is 2x slower than it could be since we discard one of the normal random variables
                let r1 = Math.random();
                let r2 = Math.random();
                let random = stddev * Math.sqrt(-2*Math.log(r1))*Math.cos(2*Math.PI*r2);
                randoms.push(projection_data_raw['projections'][xs_index]+random);
            }
        }
    }
    var projection_data = {
        'xs' : projection_data_raw['xs'].concat(xs),
        'projections' : projection_data_raw['projections'].concat(randoms),
        'counts' : projection_data_raw['counts'],
        };

    projection_data['dots'] = 0;
    for (let i=0; i<projection_data['projections'].length; i++) {
        if (projection_data['projections'][i]) {
            projection_data['dots'] += 1;
        }
    }
    return projection_data;
}



////////////////////////////////////////////////////////////////////////////////
// on page load
////////////////////////////////////////////////////////////////////////////////

plotly_count_redraw(true);
plotly_projection_redraw(true);

</script>

<script>



function manage_form(form, change_callback) {
    set_form_defaults(form);
    elems = document.getElementById(form).elements;
    for (let i=0; i<elems.length; i++) {
        if (elems[i].name) {
            query_value = getParameterByName(elems[i].name);
            if (query_value) {
                elems[i].value = query_value;
            }
            elems[i].addEventListener('change', (e) => {
                new_url = updateURLParameter(window.location.href, e.currentTarget.name, e.currentTarget.value);
                history.pushState({}, '', new_url);
                document.title = new_url; // this is required to make the new url appear in the back button entries
                change_callback();
            });
        }
    }
}

function set_form_defaults(form_id) {
    elems = document.getElementById(form_id).elements;
    for (let i=0; i<elems.length; i++) {
        if (elems[i].name) {
            elems[i].value_default = elems[i].value;
        }
    }
}

function reset_form(form_id) {
    elems = document.getElementById(form_id).elements;
    for (let i=0; i<elems.length; i++) {
        if (elems[i].name) {
            querystr_value = getParameterByName(elems[i].name);
            if (querystr_value) {
                elems[i].value = querystr_value;
            }
            else {
                elems[i].value = elems[i].value_default;
            }
        }
    }
}

window.onpopstate = function(event) {
    reset_form('form_search');
    reset_form('form_count');
    reset_form('form_projection');
    load_all_data();
}

manage_form('form_search', load_all_data);
manage_form('form_count', load_count);
manage_form('form_projection', load_projection);
load_all_data();
</script>
{% endblock %}
