{% extends "base.html" %}

{% block header %}
<form id=form_search action='/search' method='get'>
    <input type=text name=query value='{{query}}' />
    {% if time_lo_args %}
    <input type=hidden name=time_lo value='{{time_lo_args}}' />
    {% endif %}
    {% if time_hi_args %}
    <input type=hidden name=time_hi value='{{time_hi_args}}' />
    {% endif %}
    <button type="submit"><i class="fa fa-search"></i></button>
</form>
{% endblock %}

{% block content %}

<script>
// see: https://stackoverflow.com/questions/901115/how-can-i-get-query-string-values-in-javascript
function getParameterByName(name, url = window.location.href) {
    name = name.replace(/[\[\]]/g, '\\$&');
    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, ' '));
}

// see: https://stackoverflow.com/questions/1634748/how-can-i-delete-a-query-string-parameter-in-javascript
function removeURLParameter(url, parameter) {
    //prefer to use l.search if you have a location/link object
    var urlparts = url.split('?');
    if (urlparts.length >= 2) {

        var prefix = encodeURIComponent(parameter) + '=';
        var pars = urlparts[1].split(/[&;]/g);

        //reverse iteration as may be destructive
        for (var i = pars.length; i-- > 0;) {
            //idiom for string.startsWith
            if (pars[i].lastIndexOf(prefix, 0) !== -1) {
                pars.splice(i, 1);
            }
        }

        return urlparts[0] + (pars.length > 0 ? '?' + pars.join('&') : '');
    }
    return url;
}

// see: https://stackoverflow.com/questions/1090948/change-url-parameters
function updateURLParameter(url, param, paramVal)
{
    var TheAnchor = null;
    var newAdditionalURL = "";
    var tempArray = url.split("?");
    var baseURL = tempArray[0];
    var additionalURL = tempArray[1];
    var temp = "";

    if (additionalURL) 
    {
        var tmpAnchor = additionalURL.split("#");
        var TheParams = tmpAnchor[0];
            TheAnchor = tmpAnchor[1];
        if(TheAnchor)
            additionalURL = TheParams;

        tempArray = additionalURL.split("&");

        for (var i=0; i<tempArray.length; i++)
        {
            if(tempArray[i].split('=')[0] != param)
            {
                newAdditionalURL += temp + tempArray[i];
                temp = "&";
            }
        }        
    }
    else
    {
        var tmpAnchor = baseURL.split("#");
        var TheParams = tmpAnchor[0];
            TheAnchor  = tmpAnchor[1];

        if(TheParams)
            baseURL = TheParams;
    }

    if(TheAnchor)
        paramVal += "#" + TheAnchor;

    var rows_txt = temp + "" + param + "=" + paramVal;
    return baseURL + "?" + newAdditionalURL + rows_txt;
}
</script>

<script>
let timeplot_data = [
    [{%for x in timeplot_data['xs']%} '{{x}}', {%endfor%}],
    [{%for y in timeplot_data['term_counts']%} {{y}}, {%endfor%}],
    [{%for y in timeplot_data['term_counts_lo']%} {{y}}, {%endfor%}],
    [{%for y in timeplot_data['term_counts_hi']%} {{y}}, {%endfor%}],
];
let sentiment_data = [
    [{%for x in sentiment_data['xs']%} '{{x}}', {%endfor%}],
    [{%for y in sentiment_data['sentiments']%} {% if y %} {{y}} {% else %} null {%endif%}, {%endfor%}],
];
</script>

<script>
function sma(xs,ys,window_size,weights) {
    {% if granularity=="day" %}
    window_size *= 30;
    {% endif %}
    var ys2 = [];
    var last_ys = null;
    var average = null;
    var total = null;
    var last_notnull = 0;
    for (var i=0; i<ys.length; i++) {
        if (ys[i] === null)
            next_ys = last_ys;
        else {
            next_ys = ys[i];
            last_notnull = i;
        }
        if (next_ys !== null) {
            total = 0;
            average = 0;
            for (j=i; j>=0 && j>i-window_size; j--) {
                if (weights[j]>0)
                    average += ys[j]*weights[j];
                    total += weights[j];
            }
            average = average / total;
        }
        ys2.push(average);
        last_ys = next_ys;
    }
    for (i=last_notnull; i<ys2.length; i++) {
        ys2[i] = null;
    }
    return ys2;
}

function ema(xs,ys,alpha,weights) {
    var ys2 = [];
    var last_ys = null;
    var ema = ys[0];
    var beta = 0;
    for (var i=0; i<ys.length; i++) {
        if (ys[i] === null)
            next_ys = last_ys;
        else
            next_ys = ys[i];
        if (weights[i] > 0) {
            if (ema === null) 
                ema = next_ys;
            else
                beta = alpha**weights[i];
                ema = beta*ema + (1-beta)*next_ys;
            console.log('i='+i+', ema='+ema);
        }
        ys2.push(ema);
        last_ys = next_ys;
    }
    return ys2;
}
function ema_simple(xs,ys,alpha,weights=null) {
    var ys2 = [];
    var last_ys = null;
    var ema = ys[0];
    for (var i=0; i<ys.length; i++) {
        if (ys[i] === null)
            next_ys = last_ys;
        else
            next_ys = ys[i];
        ema = alpha*ema + (1-alpha)*next_ys;
        ys2.push(ema);
        last_ys = next_ys;
    }
    return ys2;
}
</script>

<aside id=aside_xy>
    <h3>Mentions Options</h3>
    <ul>
        <li>axis
            <select name="mentions_axis" id="mentions_axis" form=form_search>>
              <option value="host"    {%if mentions_axis=="host"     %}selected{%endif%}>host</option>
              <option value="hostpath"{%if mentions_axis=="hostpath" %}selected{%endif%}>hostpath</option>
            </select>
            <script>
                document.getElementById('mentions_axis').addEventListener('change', function(e) {
                    document.getElementById('form_search').submit();
                });
            </script>
        </li>
        <li>normalization
            <select name="normalize" id="normalize" form=form_search>>
              <option value="none" {%if normalize=="none"     %}selected{%endif%}>none</option>
              <option value="total"{%if normalize=="total"    %}selected{%endif%}>total</option>
              {% for selected,term_combination in terms_combinations_pretty %}
              <option value='query:{{term_combination|safe}}' {%if selected%}selected{%endif%}>query:{{term_combination|safe}}</option>
              {% endfor %}
            </select>
            <script>
                document.getElementById('normalize').addEventListener('change', function(e) {
                    document.getElementById('form_search').submit();
                });
            </script>
        </li>
        <li>granularity
            <select name="granularity" id="granularity" form=form_search>
              <option value="year"  {%if granularity=="year" %}selected{%endif%}>year</option>
              <option value="month" {%if granularity=="month"%}selected{%endif%}>month</option>
              <option value="day"   {%if granularity=="day"  %}selected{%endif%}>day</option>
            </select>
            <script>
                document.getElementById('granularity').addEventListener('change', function(e) {
                    document.getElementById('form_search').submit();
                });
            </script>
        </li>
    </ul>
</aside>
<aside id=aside_x2y2 style='margin-top:250px'>
    <h3>Projection Options</h3>
    <ul>
        <li>axis
            <select name=projection_axis id=projection_axis form=form_search>
            </select>
            <script>
                var axis_dictionary = {
                    'angry': ['angry agitated', 'calm serene'],
                    'erotic': ['erotic sexy sensual', 'unerotic polite propper'],
                    'gender': ['male father king he', 'female mother queen she'],
                    'happiness': ['happy joy pleasure delight', 'sad misery dissatisfaction bore'],
                    'life': ['alive active awake living', 'dead inactive asleep dying'],
                    'scary': ['scary afraid fear', 'relaxing unafraid comfort'], 
                    'sentiment': ['positive good better best', 'negative bad worse worst'], 
                    'success': ['successful', 'failed'],
                    'threat': ['danger war menace enemy', 'safety peace friend ally'],
                    'wealth': ['wealth affluence rich asset', 'debt poverty poor liability'],
                };
                projection_axis = getParameterByName('projection_axis');
                select = document.getElementById('projection_axis')
                for (key in axis_dictionary) {
                    option = document.createElement("option");
                    option.textContent = key;
                    option.value = key;
                    if (projection_axis == key) {
                        option.selected = 'selected';
                    }
                    select.add(option);
                }
                select.addEventListener('change', function(e) {
                    document.getElementById('pos_words').value = axis_dictionary[e.currentTarget.value][0];
                    document.getElementById('neg_words').value = axis_dictionary[e.currentTarget.value][1];
                    document.getElementById('form_search').submit();
                });
            </script>
            <br>
            pos words <input id=pos_words name=pos_words form=form_search readonly value="{{pos_words}}">
            <br>
            neg words <input id=neg_words name=neg_words form=form_search readonly value="{{neg_words}}">
        </li>
        <li>window size 
            <br>
            <input type="range"  id="window_size_range" min="1" max="60" value="6" oninput="set_window_size(this.value)" />
            <br>
            <input type="number" id="window_size_number" min="1" max="60" value="6" oninput="set_window_size(this.value)" />
            <script>
            function set_window_size(window_size) {
                document.getElementById('window_size_range').value = window_size;
                document.getElementById('window_size_number').value = window_size;
                trace3.y = sma([],sentiment_data[1],window_size,timeplot_data[1]);
                Plotly.redraw('plotly');
                // FIXME:
                // redraw() is slow because it redraws everything;
                // we should only replot the changed traces
            }
            </script>
        </li>
    </ul>
</aside>
<div id=plotly></div>


<script>
// taken from: https://stackoverflow.com/questions/847185/convert-a-unix-timestamp-to-time-in-javascript
function timeConverter(UNIX_timestamp){
  var a = new Date(UNIX_timestamp * 1000);
  var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
  var year = a.getFullYear();
  var month = 1+a.getMonth(); //months[a.getMonth()];
  var date = a.getDate();
  var hour = a.getHours();
  var min = a.getMinutes();
  var sec = a.getSeconds();
  return year+'-'+month+'-'+date;// +' ' + hour + ':' + min + ':' + sec ;
  //var time = date + ' ' + month + ' ' + year ; //+ ' ' + hour + ':' + min + ':' + sec ;
  //return time;
}

var trace1 = {
  x: timeplot_data[0], //.map(timeConverter),
  y: timeplot_data[1],
  name: 'rate',
  type: 'scatter',
  //hoverinfo: 'skip',
  line: {
    shape: 'hv',
    color: '#55f',
    width: 1,
  },
  marker: {
    size: 1,
  },
};

var trace2 = {
  x: sentiment_data[0], //.map(timeConverter),
  y: sentiment_data[1],
  xaxis: 'x2',
  yaxis: 'y2',
  type: 'scatter',
  hoverinfo: 'skip',
  line: {
    shape: 'hv',
    color: '#55f',
    width: 1,
  },
  mode: 'markers',
  marker: {
    size: 2,
  }
};

var trace3 = {
  x: sentiment_data[0], //.map(timeConverter),
  y: sma([],sentiment_data[1],6,timeplot_data[1]),
  xaxis: 'x2',
  yaxis: 'y2',
  type: 'scatter',
  hoverinfo: 'skip',
  line: {
    shape: 'spline',
    color: '#55f',
    width: 1,
  },
  marker: {
    size: 1,
  },
};


var data = [trace1, trace2, trace3];

var layout = {
    grid: {rows: 2, columns: 1}, //, pattern: 'independent'},
    showlegend: false,
    //margin: {pad: 0},
    margin:{
        l:50,
        r:0,
        t:0,
        b:0,
        pad:0,
    },
    xaxis: {
        autorange: true,
        rangeselector: {
          buttons: [
            {
              count: 1,
              label: '1y',
              step: 'year',
              stepmode: 'backward'
            },
            {
              count: 10,
              label: '10y',
              step: 'year',
              stepmode: 'backward'
            },
            {
              count: 100,
              label: '100y',
              step: 'year',
              stepmode: 'backward'
            },
            {step: 'all'}
          ]},
        //rangeslider: {},
        type: 'date'
    },
    xaxis2: {
      matches: 'x'
    },
    yaxis: {
      fixedrange: true,
      title: {
        text: 'mentions',
        font: {
          family: 'Courier New, monospace',
          size: 18,
          color: '#7f7f7f'
        }
      }
    },
    yaxis2: {
      fixedrange: true,
      title: {
        text: 'projection',
        font: {
          family: 'Courier New, monospace',
          size: 18,
          color: '#7f7f7f'
        }
      }
    }
};

Plotly.newPlot('plotly', data, layout, {displaylogo: false});

document.getElementById('plotly').on('plotly_relayout',
function(eventdata){
    var url = window.location.href;
    var time_lo = eventdata['xaxis.range[0]'];
    if (time_lo) {
        if (getParameterByName('granularity') == 'day')
            time_lo = time_lo.toString().slice(0,10);
        if (getParameterByName('granularity') == 'month')
            time_lo = time_lo.toString().slice(0,7)+'-01';
        url = updateURLParameter(url, 'time_lo', time_lo);
    }
    else {
        url = removeURLParameter(url, 'time_lo');
    }
    var time_hi = eventdata['xaxis.range[1]'];
    if (time_hi) {
        if (getParameterByName('granularity') == 'day')
            time_hi = time_hi.toString().slice(0,10);
        if (getParameterByName('granularity') == 'month')
            time_hi = time_hi.toString().slice(0,7)+'-01';
        url = updateURLParameter(url, 'time_hi', time_hi);
    }
    else {
        url = removeURLParameter(url, 'time_hi');
    }
    console.log(url);
    window.location.href = url;
});
</script>


<h2>Document Results
<aside>
    <h3>Document Options</h3>
Order by
<select name="orderby" id="orderby">
  <option value="none"      {%if orderby=="none"     %}selected{%endif%}>none</option>
  <option value="time_desc" {%if orderby=="time_desc"%}selected{%endif%}>publication date (descending)</option>
  <option value="time_asc"  {%if orderby=="time_asc" %}selected{%endif%}>publication date (ascending)</option>
  <option value="rank"      {%if orderby=="rank"     %}selected{%endif%}>relevance</option>
</select>
<script>
function orderby_onchange(e) {
    window.location.href = updateURLParameter(window.location.href, 'orderby', e.currentTarget.value);
}
document.getElementById('orderby').addEventListener('change', orderby_onchange);
</script>
</aside>
</h2>

<div>
    {%for result in search_results%}
    <div class=result>
        <div class=result_host>
            <!--<img src=https://{{result.host}}/favicon.ico height=12px width=12px />-->
            {{result.date_published}} --
            <!-- {{result.accessed_at}} -- -->
            <a href='/host/{{result.host}}'>{{result.host}}</a>
            {{result.rank}}
            &nbsp;
            &nbsp;
            &nbsp;
            id={{result.id}}
        </div>
        <div class=result_title><a href="/metahtml?url={{result.url}}">{{result.title}}</a></div>
        <div class=result_description>{{result.description}}</div>
    </div>
    {%endfor%}
</div>
{% endblock %}
