{% extends "base.html" %}

{% block header %}
<header class=grid>
        <div class="header logo">
        <img src='/static/en-chajda.png' width=120px height=30px>
        </div>
        <div style='display:grid; grid-column:2/5' width=100%>
        <form id=form_search action='/wordvis' method='get' style="display: flex; align-items: center; margin-top: 8; font-size: 1rem;">
            <table>
                <tr>
                    <td>words</td>
                    <td>lang_in</td>
                    <td>lang_out</td>
                    <td>vector dim</td>
                    <td>subspace dim</td>
                    <td>a</td>
                    <td>clip</td>
                    <td>n</td>
                    <td>n_rand</td>
                    <td>n_top</td>
                    <td>x_axis</td>
                    <td>y_axis</td>
                </tr>
                <tr>
                    <td><input type=text id=words name=words style='min-width:400px;'/></td>
                    <td>
                    <select name="lang_in" id="lang_in" style='min-width: 100px;'>
                    </select>
                    </td>
                    <td>
                    <select name="lang_out" id="lang_out" style='min-width: 100px;'>
                    </select>
    <script>
        var langs=['ar','de','el','en','es','fr','ko','pt','ru','sv','th','zh'];
        lang_in = document.getElementById('lang_in')
        lang_out = document.getElementById('lang_out')
        for (let i=0; i<langs.length; i++) {
            let lang=langs[i];
            let option1 = document.createElement("option");
            option1.textContent = lang;
            option1.value = lang;
            lang_in.add(option1);
            let option2 = document.createElement("option");
            option2.textContent = lang;
            option2.value = lang;
            lang_out.add(option2);
        }
    </script>
                    </td>
                    <td>
                    <select name="dim" id="dim" style='min-width: 100px;'>
                      <option value="25" default>25</option>
                      <option value="50" >50</option>
                      <option value="100" >100</option>
                      <option value="200" >200</option>
                      <option value="300" >300</option>
                    </select>
                    </td>
                    <td>
                    <select name="max_subspace_dim" id="max_subspace_dim" style='min-width: 100px;'>
                      <option value="None">None</option>
                      <option value="0">0</option>
                      <option value="1">1</option>
                      <option value="2" default>2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                    </select>
                    </td>
                    <td><input style='max-width:80px' id=a name=a /></td>
                    <td><input style='max-width:80px' id=clip name=clip /></td>
                    <td><input style='max-width:80px' id=n name=n /></td>
                    <td><input style='max-width:80px' id=n_rand name=n_rand /></td>
                    <td><input style='max-width:80px' id=n_top name=n_top /></td>
                    <td>
                    <select name="x_axis" id="x_axis" style='min-width: 80px;'>
                      <option value="freq">freq</option>
                      <option value="dist" default>dist</option>
                      <option value="norm">norm</option>
                      <option value="vstar">vstar</option>
                      <option value="subspace1">subspace1</option>
                      <option value="subspace2">subspace2</option>
                      <option value="subspace3">subspace3</option>
                    </select>
                    </td>
                    <td>
                    <select name="y_axis" id="y_axis" style='min-width: 80px;'>
                      <option value="freq">freq</option>
                      <option value="dist">dist</option>
                      <option value="norm">norm</option>
                      <option value="vstar">vstar</option>
                      <option value="subspace1" default>subspace1</option>
                      <option value="subspace2">subspace2</option>
                      <option value="subspace3">subspace3</option>
                      <option value="histogram">histogram</option>
                    </select>
                    </td>
                    <td><button type="submit"><i class="fa fa-search"></i></button></td>
                </tr>
            </table>
            
    <script>
        document.getElementById("words").value = getParameterByName('words');
        document.getElementById("lang_in").value = getParameterByName('lang_in');
        document.getElementById("lang_out").value = getParameterByName('lang_out');
        document.getElementById("dim").value = getParameterByName('dim');
        document.getElementById("max_subspace_dim").value = getParameterByName('max_subspace_dim');
        document.getElementById("a").value = getParameterByName('a');
        document.getElementById("clip").value = getParameterByName('clip');
        document.getElementById("n").value = getParameterByName('n');
        document.getElementById("n_rand").value = getParameterByName('n_rand');
        document.getElementById("n_top").value = getParameterByName('n_top');
        document.getElementById("x_axis").value = getParameterByName('x_axis');
        document.getElementById("y_axis").value = getParameterByName('y_axis');
    </script>
        </form>
        </div>
</header>
{% endblock %}

{% block content %}
<script src='https://cdn.plot.ly/plotly-2.3.0.min.js'></script>
<script src='static/utils.js'></script>

<div style='display:grid; grid-column: 1/5; margin-bottom:10px; padding-top:10px; padding-bottom:10px; border-left: 0px; border-right:0px; border-top:1px; border-bottom:1px; border-color: black; border-style: solid; width:100%'> <!-- style="margin:20;">-->
    <center>
    <table border=0 cellspacing=0>
        <tr>
            <td style="min-width:150px">Min Angle</td><td  style="min-width:100px"id=min_angle></td>
            <td style="min-width:150px">Mean Angle</td><td  style="min-width:100px"id=median_angle></td>
            <td style="min-width:150px">Max Angle</td><td  style="min-width:100px"id=max_angle></td>
            <td style="min-width:150px">Words Selected</td><td  style="min-width:100px"id=words_selected></td>
            <td style="min-width:150px">Words Fraction</td><td  style="min-width:100px"id=words_fraction></td>
            <td style="min-width:150px">Total Frequency</td><td  style="min-width:100px"id=total_frequency></td>
        </tr>
    </table>
    </center>
</div>
<div id=words width=100%>
    <div id=wordvis height=100%></div>
</div>


<script>
var wordvis_data = null;
var wordvis_settings = {};

function draw_wordvis() {
    const x_axis = wordvis_settings['x_axis'];
    const y_axis = wordvis_settings['y_axis'];
    const clip = wordvis_settings['clip'];
    const words = wordvis_data.words;
    const mus = wordvis_data.mus;
    console.log('words=',words);
    console.log("mus",mus);

    console.log("clip",clip);

    var layout = {
        height: window.innerHeight-120,
        width: window.innerWidth,
        showlegend: false,
        //margin: {pad: 0},
        margin:{
            l:50,
            r:0,
            t:0,
            b:50,
            pad:0,
        },
        xaxis: {
            autorange: true,
            showticklabels: true,
        },
        yaxis: {
            autorange: true,
        },
        config: { responsive: true }
    };

    var x,y,trace2_x,trace2_y;
    if (x_axis == 'freq') {x = words.frequencies; layout.xaxis.type='log'; layout.xaxis.showexponent='all'; layout.xaxis.exponentformat='e'; }
    if (x_axis == 'dist') {x = words.distances; }
    if (x_axis == 'norm') {x = words.norms; }
    if (x_axis == 'vstar') {x = words.Wtrans[0]; trace2_x=mus.Utrans[0]; }
    if (x_axis == 'subspace1') {x = words.Wtrans[1]; trace2_x=mus.Utrans[1]; }
    if (x_axis == 'subspace2') {x = words.Wtrans[2]; trace2_x=mus.Utrans[2]; }
    if (x_axis == 'subspace3') {x = words.Wtrans[3]; trace2_x=mus.Utrans[3]; }
    if (y_axis == 'freq') {y = words.frequencies; layout.yaxis.type='log'; layout.xaxis.showexponent='all'; layout.xaxis.exponentformat='e'; }
    if (y_axis == 'dist') {y = words.distances; }
    if (y_axis == 'norm') {y = words.norms; }
    if (y_axis == 'vstar') {y = words.Wtrans[0]; trace2_y=mus.Utrans[0]; }
    if (y_axis == 'subspace1') {y = words.Wtrans[1]; trace2_y=mus.Utrans[1]; }
    if (y_axis == 'subspace2') {y = words.Wtrans[2]; trace2_y=mus.Utrans[2]; }
    if (y_axis == 'subspace3') {y = words.Wtrans[3]; trace2_y=mus.Utrans[3]; }

    var traces = [];
    if (y_axis == 'histogram') {
        traces.push({
            x: x,
            type: 'histogram',
        });
    }
    else {
        const dist_mode = calc_mode(words.distances);
        const dist_hiclip = quantile(words.distances, clip);
        const dist_loclip = dist_mode - (dist_hiclip-dist_mode);

        var lo_x=[],lo_x_named=[],hi_x=[],lo_y=[],lo_y_named=[],hi_y=[],lo_words=[],lo_words_named=[],hi_words=[];
        const x_bins = 40, y_bins=40;
        const x_min = Math.min(...x), x_max = Math.max(...x), y_min = Math.min(...y), y_max = Math.max(...y);
        var matrix = {};
        function get_matrix_index(xpos,ypos) {
            const x_matrix = Math.floor(x_bins*(x_max-xpos)/(x_max-x_min));
            const y_matrix = Math.floor(y_bins*(y_max-ypos)/(y_max-y_min));
            return [x_matrix, y_matrix];
        };
        var words_selected=0, words_frequency=0, total_frequency=0;

        for (let i=0; i<words.distances.length; i++) {
            total_frequency += words.frequencies[i];
            const matrix_pos = get_matrix_index(x[i], y[i]);
            if (words.distances[i] <= dist_loclip) {
                words_selected += 1;
                words_frequency += words.frequencies[i];
                lo_x.push(x[i]);
                lo_y.push(y[i]);
                lo_words.push(words.words[i]);
                if (!(matrix_pos in matrix)) {
                    matrix[matrix_pos] = words.words[i];
                    matrix[[matrix_pos[0]-4, matrix_pos[1]]] = words.words[i];
                    matrix[[matrix_pos[0]+4, matrix_pos[1]]] = words.words[i];
                    matrix[[matrix_pos[0]-3, matrix_pos[1]]] = words.words[i];
                    matrix[[matrix_pos[0]+3, matrix_pos[1]]] = words.words[i];
                    matrix[[matrix_pos[0]-2, matrix_pos[1]]] = words.words[i];
                    matrix[[matrix_pos[0]+2, matrix_pos[1]]] = words.words[i];
                    matrix[[matrix_pos[0]-1, matrix_pos[1]]] = words.words[i];
                    matrix[[matrix_pos[0]+1, matrix_pos[1]]] = words.words[i];
                    matrix[[matrix_pos[0]-1, matrix_pos[1]-1]] = words.words[i];
                    matrix[[matrix_pos[0]+1, matrix_pos[1]-1]] = words.words[i];
                    matrix[[matrix_pos[0]-1, matrix_pos[1]+1]] = words.words[i];
                    matrix[[matrix_pos[0]+1, matrix_pos[1]+1]] = words.words[i];
                    matrix[[matrix_pos[0], matrix_pos[1]-1]] = words.words[i];
                    matrix[[matrix_pos[0], matrix_pos[1]+1]] = words.words[i];
                    lo_x_named.push(x[i]);
                    lo_y_named.push(y[i]);
                    lo_words_named.push(words.words[i]);
                }
            }
            else {
                hi_x.push(x[i]);
                hi_y.push(y[i]);
                hi_words.push(words.words[i]);
            }
        }
        console.log("matrix",matrix);
        traces.push({
            x: hi_x,
            y: hi_y,
            //marker: { size: 5, color: 'rgba(127,127,127,0.5)', opacity: 0.15 },
            marker: { size: 5, color: 'rgba(180,180,180,0.5)', opacity: 0.25 },
            mode: 'markers',
            hovermode: false,
            hoverinfo: 'skip',
            type: 'scattergl',
        });
        traces.push({
            x: lo_x,
            y: lo_y,
            text: lo_words,
            marker: { size: 5, opacity: 0.7, color:'rgba(255,210,127,1)' },
            //marker: { size: 5, opacity: 0.5, color:'rgba(255,165,0,1)' },
            //marker: { size: 0, opacity: 0 },
            mode: 'markers',
            type: 'scattergl',
        });
        traces.push({
            x: lo_x_named,
            y: lo_y_named,
            text: lo_words_named,
            marker: { size: 0, opacity: 0 },
            textposition: 'left',
            mode: 'markers+text',
            hoverinfo: 'skip',
            type: 'scattergl',
        });
    }

    /*                                                                 
    if (trace2_x && trace2_y) { 
        var trace2 = {
            x: trace2_x,
            y: trace2_y,
            type: 'scattergl',
            hoverinfo: 'skip',
        };
        traces.push(trace2);
    }

    if (x_axis == 'dist') {

        const median = calc_median(x);
        const mode = calc_mode(x);
        console.log("median",median);
        console.log("mode",mode);
        const hi = quantile(x, clip);
        const lo = mode - (hi - mode);

        const m = calc_mean(x);
        const sigma = calc_stddev(x);
        const gamma1 = calc_skewness(x)/10;

        console.log("m",m);
        console.log("sigma",sigma);
        console.log("gamma1",gamma1);

        let mu_hat = m - sigma*Math.pow(gamma1/2, 1/3);
        if (gamma1<0) {
            mu_hat = m + sigma*Math.pow(-gamma1/2, 1/3);
        }
        console.log("mu_hat",mu_hat);

        layout.shapes = [
            {
                type: 'line',
                xref: 'x',
                yref: 'paper',
                x0: m,
                y0: 0,
                x1: m,
                y1: 1,
                line: {
                  color: 'rgb(0,255,0)'
                }
            },
            {
                type: 'line',
                xref: 'x',
                yref: 'paper',
                x0: m-sigma,
                y0: 0,
                x1: m-sigma,
                y1: 1,
                line: {
                  color: 'rgb(0,255,0)'
                }
            },
            {
                type: 'line',
                xref: 'x',
                yref: 'paper',
                x0: m+sigma,
                y0: 0,
                x1: m+sigma,
                y1: 1,
                line: {
                  color: 'rgb(0,255,0)'
                }
            },
            {
                type: 'line',
                xref: 'x',
                yref: 'paper',
                x0: lo,
                y0: 0,
                x1: lo,
                y1: 1,
                line: {
                  color: 'rgb(0,0,255)'
                }
            },
            {
                type: 'line',
                xref: 'x',
                yref: 'paper',
                x0: hi,
                y0: 0,
                x1: hi,
                y1: 1,
                line: {
                  color: 'rgb(0,0,255)'
                }
            },
            {
                type: 'line',
                xref: 'x',
                yref: 'paper',
                x0: mode,
                y0: 0,
                x1: mode,
                y1: 1,
                line: {
                  color: 'rgb(0,0,255)'
                }
            },
            {
                type: 'line',
                xref: 'x',
                yref: 'paper',
                x0: mu_hat,
                y0: 0,
                x1: mu_hat,
                y1: 1,
                line: {
                  color: 'rgb(255,0,0)'
                }
            },
        ]
        console.log("layout",layout);
    }

    if ((x_axis.includes('subspace') || x_axis.includes('vstar')) 
     && (y_axis.includes('subspace') || y_axis.includes('vstar'))) {
        var color = 'rgba(255, 165, 0, 1)';
        if (x_axis.includes('vstar') || y_axis.includes('vstar')) {
            color = 'rgba(50, 171, 96, 1)';
        }
        layout.shapes = [
            {
                type: 'circle',
                xref: 'x',
                yref: 'y',
                x0: -1,
                y0: -1,
                x1: 1,
                y1: 1,
                line: {
                  color: color
                }
            },
        ];
    }
    */

    Plotly.newPlot('wordvis', traces, layout);
    document.getElementById("min_angle").innerHTML = Math.min(...wordvis_data['mus']['angles']).toFixed(2) ;
    document.getElementById("median_angle").innerHTML = calc_median(wordvis_data['mus']['angles']).toFixed(2) ;
    document.getElementById("max_angle").innerHTML = Math.max(...wordvis_data['mus']['angles']).toFixed(2) ;
    document.getElementById("words_selected").innerHTML = words_selected.toFixed(2) ;
    document.getElementById("words_fraction").innerHTML = (words_selected/words.words.length).toFixed(2) ;
    document.getElementById("total_frequency").innerHTML = (words_frequency/total_frequency).toFixed(2) ;
}

function load_wordvis() {
    const xhttp = new XMLHttpRequest();
    xhttp.onload = function() {
        wordvis_data = JSON.parse(this.responseText);
        wordvis_settings['x_axis'] = x_axis;
        wordvis_settings['y_axis'] = y_axis;
        wordvis_settings['clip'] = clip;
        draw_wordvis();
    }
    var words = getParameterByName('words');
    var lang_in = getParameterByName('lang_in');
    var lang_out = getParameterByName('lang_out');
    var dim = getParameterByName('dim');
    var max_subspace_dim = getParameterByName('max_subspace_dim');
    var a = getParameterByName('a');
    var clip = getParameterByName('clip');
    var n = getParameterByName('n');
    var n_rand = getParameterByName('n_rand');
    var n_top = getParameterByName('n_top');
    var n_top_take_every = getParameterByName('n_top_take_every');
    var x_axis = getParameterByName('x_axis');
    var y_axis = getParameterByName('y_axis');
    var pca_dims = getParameterByName('pca_dims');
    var whiten = getParameterByName('whiten');
    var center = getParameterByName('center');
    let url = "/json/wordvis?";
    if (words) url+="&words="+words;
    if (lang_in) url+="&lang_in="+lang_in;
    if (lang_out) url+="&lang_out="+lang_out;
    if (dim) url+="&dim="+dim;
    if (max_subspace_dim) url+="&max_subspace_dim="+max_subspace_dim;
    if (a) url+="&a="+a;
    if (clip) url+="&clip="+clip;
    if (n) url+="&n="+n;
    if (n_rand) url+="&n_rand="+n_rand;
    if (n_top) url+="&n_top="+n_top;
    if (n_top_take_every) url+="&n_top_take_every="+n_top_take_every;
    if (center) url+="&center="+center;
    if (x_axis) url+="&x_axis="+x_axis;
    if (y_axis) url+="&y_axis="+y_axis;
    if (pca_dims) url+="&pca_dims="+pca_dims;
    if (whiten) url+="&whiten="+whiten;
    xhttp.open("GET", url, true);
    xhttp.send();
}
load_wordvis();

window.onresize = draw_wordvis;
</script>
{% endblock %}


