{% extends "base.html" %}

{% block header %}
<header class=grid>
        <div class="header logo">
        <img src='/static/en-chajda.png' width=120px height=30px>
        </div>
        <div style='display:grid; grid-column:2/5' width=100%>
        <form id=form_search action='/wordcloud' method='get' style="display: flex; align-items: center; margin-top: 8; font-size: 1rem;">
            <table>
                <tr>
                    <td>pos_words</td>
                    <td>neg_words</td>
                    <td>seed_words</td>
                    <td>lang_in</td>
                    <td>lang_out</td>
                    <td>dim</td>
                    <td>a</td>
                    <td>clip</td>
                    <td>n</td>
                    <td>n_top</td>
                </tr>
                <tr>
                    <td><input type=text id=pos_words name=pos_words /></td>
                    <td><input type=text id=neg_words name=neg_words /></td>
                    <td><input type=text id=seed_words name=seed_words /></td>
                    <td>
                    <select name="lang_in" id="lang_in" style='min-width: 100px;'>
                    </select>
                    </td>
                    <td>
                    <select name="lang_out" id="lang_out" style='min-width: 100px;'>
                    </select>
    <script>
        var langs=['ar','de','el','en','es','fr','ko','pt','ru','sv','th','zh'];
        lang_in = document.getElementById('lang_in')
        lang_out = document.getElementById('lang_out')
        for (let i=0; i<langs.length; i++) {
            let lang=langs[i];
            let option1 = document.createElement("option");
            option1.textContent = lang;
            option1.value = lang;
            lang_in.add(option1);
            let option2 = document.createElement("option");
            option2.textContent = lang;
            option2.value = lang;
            lang_out.add(option2);
        }
    </script>
                    </td>
                    <td>
                    <select name="dim" id="dim" style='min-width: 100px;'>
                      <option value="25" default>25</option>
                      <option value="50" >50</option>
                      <option value="100" >100</option>
                      <option value="200" >200</option>
                      <option value="300" >300</option>
                    </select>
                    </td>
                    <td><input style='max-width:80px' id=a name=a /></td>
                    <td><input style='max-width:80px' id=clip name=clip /></td>
                    <td><input style='max-width:80px' id=n name=n /></td>
                    <td><input style='max-width:80px' id=n_top name=n_top /></td>
                    <td><button type="submit"><i class="fa fa-search"></i></button></td>
                </tr>
            </table>
            
    <script>
        document.getElementById("pos_words").value = getParameterByName('pos_words');
        document.getElementById("neg_words").value = getParameterByName('neg_words');
        document.getElementById("seed_words").value = getParameterByName('seed_words');
        document.getElementById("lang_in").value = getParameterByName('lang_in');
        document.getElementById("lang_out").value = getParameterByName('lang_out');
        document.getElementById("dim").value = getParameterByName('dim');
        document.getElementById("a").value = getParameterByName('a');
        document.getElementById("clip").value = getParameterByName('clip');
        document.getElementById("n").value = getParameterByName('n');
        document.getElementById("n_top").value = getParameterByName('n_top');
    </script>
        </form>
        </div>
</header>
{% endblock %}

{% block content %}
<script src='https://cdn.plot.ly/plotly-2.3.0.min.js'></script>
<script src='static/utils.js'></script>

<main width=800px>
<div style="margin:20;">
    Angle: <span id=angle></span>
</div>
<div id=words width=100%>
    <div id=wordcloud></div>
    <div id=wordlist>
    </div>
</div>
</main>
<script>
var wordcloud_data = null;

function draw_wordcloud() {
    clip = parseFloat(getParameterByName('clip'));
    div = parseFloat(getParameterByName('div'));
    a = parseFloat(getParameterByName('a'));
    let ys = [];
    for (let i=0; i<wordcloud_data.projection.length; i++) {
        //frequency_modification = wordcloud_data.projection[i]*(1-wordcloud_data.frequency[i])**a;
        f = wordcloud_data.frequency[i];
        d = wordcloud_data.distance[i];
        y = wordcloud_data.projection[i];
        if (div) {
            y /= d + div;
        }
        if (a) {
            y = y*(a/(a + f));
        }
        if (clip && d > clip) {
            y = 0;
        }
        ys.push(y);
    }

    // table
    let tableHTML = '';
    tableHTML = '<table>';
    tableHTML += '<tr><th>text</th><th>projection</th><th>distance</th><th>frequency</th></tr>';
    for (let i=0; i<wordcloud_data.projection.length; i++) {
        tableHTML += '<tr>';
        tableHTML += '<td>' + wordcloud_data.text[i] + '</td>';
        tableHTML += '<td align=right>' + wordcloud_data.projection[i].toFixed(4) + '</td>';
        tableHTML += '<td align=right>' + wordcloud_data.distance[i].toFixed(4) + '</td>';
        tableHTML += '<td align=right>' + wordcloud_data.frequency[i].toExponential(2) + '</td>';
        tableHTML += '</tr>';
    }
    tableHTML += '</table>';
    document.getElementById("wordlist").innerHTML = tableHTML;

    // plotly
    var trace1 = {
        x: wordcloud_data.frequency,
        y: ys,
        distance: wordcloud_data.distance,
        text: wordcloud_data.text,
        marker: { size: wordcloud_data.distance, sizeref:4000, sizemode:'area' },
        hovertemplate: '%{text} dist=%{marker.size:}',
        mode: 'markers+text',
        type: 'scatter',
    }
    var layout = {
        height: 0.75*window.innerHeight,
        width: 0.95*window.innerWidth,
        showlegend: false,
        //margin: {pad: 0},
        margin:{
            l:50,
            r:0,
            t:0,
            b:50,
            pad:0,
        },
        xaxis: {
            autorange: true,
            showticklabels: true,
            tickformat: ".1e",
            type: 'log',
        },
        yaxis: {
            autorange: true,
        },
        config: { responsive: true }
    };
    Plotly.newPlot('wordcloud',[trace1], layout);
    document.getElementById("angle").innerHTML = wordcloud_data['angle'].toFixed(2) ;
}

function load_wordcloud() {
    const xhttp = new XMLHttpRequest();
    xhttp.onload = function() {
        wordcloud_data = JSON.parse(this.responseText);
        draw_wordcloud();
    }
    pos_words = getParameterByName('pos_words');
    neg_words = getParameterByName('neg_words');
    seed_words = getParameterByName('seed_words');
    lang_in = getParameterByName('lang_in');
    lang_out = getParameterByName('lang_out');
    dim = getParameterByName('dim');
    n = getParameterByName('n');
    n_top = getParameterByName('n_top');
    let url = "/json/wordcloud?";
    if (pos_words) url+="&pos_words="+pos_words;
    if (neg_words) url+="&neg_words="+neg_words;
    if (seed_words) url+="&seed_words="+seed_words;
    if (lang_in) url+="&lang_in="+lang_in;
    if (lang_out) url+="&lang_out="+lang_out;
    if (dim) url+="&dim="+dim;
    if (n) url+="&n="+n;
    if (n_top) url+="&n_top="+n_top;
    xhttp.open("GET", url, true);
    xhttp.send();
}
load_wordcloud();

</script>
{% endblock %}
