body {
  padding: 0px;
  margin: 0px;
  position: relative;
  min-height: 100vh;

  /*background-color: #eef;*/
}

/*******************************************************************************
 * layout
 ******************************************************************************/

/* Style the search box inside the navigation bar */
form#form_search {
    font-size: 1.5rem;
    padding: 0px;
    margin: 0px;
}

input[name=query] {
    /*float: left;*/
    padding: 6px 10px;
    margin: 0px;
    /*width: *;*/
    width: 650px;
    border: none;
    font-size: inherit;
}

button {
    /*float: right;*/
    padding: 6px 10px;
    border: none;
    margin: 0px;
    background: #ddd;
    cursor: pointer;
    font-size: inherit;
}

button:hover {
    background: #4c4;
}

/* main page search bar */

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
}

/* search results */

#timeplot table {
  display: none;
}

.result {
  margin: 1em 0em;
  width: 800px;
}
.result:hover {
    /*background-color: #eef;*/
}

.result_description {
  margin-left: 1em;
}

.result_title {
  margin-left: 1em;
  white-space: nowrap;
  overflow: hidden;
}

.result_host {
  white-space: nowrap;
  font-variant: small-caps;
  overflow: hidden;
}

/* /metahtml route */

table.metahtml {
    border: 1px solid black;
    padding: 0em;
    margin: 0em;
    width: 100%;
}

table.metahtml tr td:first-child {
    min-width:25%;
}
table.metahtml tr td {
    border: 1px solid darkgray;
}

/* style the debug menu */

footer {
  background-color: #ccc;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  height: 1.5rem;            /* Footer height */
}

.debug {
  background: #eee;
  padding: 0;
  font-size: 1rem;
}

input[type='checkbox'].toggle {
  display: none;
}

.dark {
  background-color: #ccc;
}

.lbl-toggle {
  display: block;
  cursor: pointer;
}

.lbl-toggle:hover {
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: 0.7rem;
  margin-left: 0.7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100%;
}

.code {
  font-family: "Courier New", monospace;
  white-space: pre;
}

